<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/nature/pa.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/nature/pd.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Pileta</h1>
      <h3>Verano cool.</h3>
      <p>
        El efecto mas vintage del grupo. Armoniza los colores y da efecto polaroid. 
      </p>
  </div>
  </div>
