<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" href="index.html">
              <img width="120px" src="assets/images/logo.png" alt="Logo">
            </a>
            <h2 class="text-center"><b>Bienvenid@</b></h2>
            <form novalidate #myForm="ngForm" >
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="email" name="password" required>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
              </div>
              <div class="text-center">
                <button class="btn btn-main text-center btn-block" (click)="login(myForm)" [disabled]="myForm.invalid && myForm.touched">Acceso</button>
                <hr>
                <h4 class="text-uppercase"><strong>usar una de estas opciones</strong></h4>
                <button (click)="signInWithGoogle()" class="btn btn-danger btn-sm btn-block mt-6"><span><i class="bi bi-google"></i></span></button>
                <button (click)="signInWithFacebook()" class="btn btn-primary btn-sm btn-block mt-6"><span><i class="bi bi-facebook"></i></span></button>
              </div>
            </form>
            <p class="mt-20">Nuevo por aquí?<a href="signin.html"> Crear una cuenta</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>