<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" href="index.html">
              <img width="120px" src="assets/images/logo.png" alt="Logo">
            </a>
            <h2 class="text-center"><b>Bienvenid@</b></h2>
            <form novalidate #myForm="ngForm" >
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="email" name="password" required>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
              </div>
              <div class="text-center">
                <button class="btn btn-main text-center btn-block" (click)="login(myForm)" [disabled]="myForm.invalid && myForm.touched">Acceso</button>
                <ng-container *ngIf="">

                </ng-container>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>