<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h1>MIS PORTFOLIOS</h1>
			</div>
		</div>
		<div class="row">		
			<div class="col-md-4" *ngFor="let a of albums">
				<div class="product-item">
                    <div class="product-content">
						<h3><a routerLink="{{a.title | lowercase}}">{{a.title}}</a></h3>
					</div>
					<div class="product-thumb">
						<img class="img-responsive" [src]="a.img_url" alt="{{a.title}}" />
						<div class="preview-meta">
							<ul>
								<li><a routerLink="{{a.title | lowercase}}" title="Ver detalles" alt="Ver detalles">{{'ver' | uppercase}}</a>
								</li>
							</ul>
                      	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
