.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul>li{
    font-size: 18px;
    color: white;
}
.product-item .product-thumb {
    position: relative;
    height: 600px;
    display: flex;
}

@media (max-width: 480px) {
    .product-item .product-thumb {
        height: auto;
    }
}
