<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="https://www.tiktok.com/@anitathomasph">
							<i class="bi bi-tiktok"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/anitathomasph/">
							<i class="bi bi-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/c/AnitaThomasph">
							<i class="bi bi-youtube"></i>
						</a>
					</li>
					<li>
						<a href="https://ar.pinterest.com/anitathomasph/">
							<i class="bi bi-pinterest"></i>
						</a>
					</li>
				</ul>
				<p class="copyright-text">Copyright &copy;2022, Designed &amp; Developed by <strong> Geronimo Daniel Banegas Knuttzen</strong></p>
			</div>
		</div>
	</div>
</footer>

