<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="https://www.tiktok.com/@anitathomasph">
							<i class="bi bi-tiktok"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/anitathomasph/">
							<i class="bi bi-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/c/AnitaThomasph">
							<i class="bi bi-youtube"></i>
						</a>
					</li>
					<li>
						<a href="https://ar.pinterest.com/anitathomasph/">
							<i class="bi bi-pinterest"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="contact.html">CONTACT</a>
					</li>
					<li>
						<a href="shop.html">SHOP</a>
					</li>
					<li>
						<a href="pricing.html">Pricing</a>
					</li>
					<li>
						<a href="contact.html">PRIVACY POLICY</a>
					</li>
				</ul>
				<p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a href="https://themefisher.com/">Purple Backpack</a></p>
			</div>
		</div>
	</div>
</footer>

