<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/original/ena.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/original/end.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Está nevando</h1>
      <h3>El preset perfecto para un feed monocromatico.</h3>
      <p>
        Hace todo más blanco. Le da un toque frio y canchero. Funciona muy bien para quienes quieren tener un feed impecable y prolijo. 
      </p>
  </div></div>
