<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/nature/ava.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/nature/avd.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Avión</h1>
      <h3>Monocromatico.</h3>
      <p>
        Este preset sirve para generar homogeneidad en un album. Empata colores y tiene una estetica white.
      </p>
  </div>
  </div>