<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/movie/ha.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/movie/hd.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Hollywood</h1>
        <h3>El filtro que va a hacer que todo parezca de una película.</h3>
        <p>
            Cálido y con sub tonos verdosos. Tiene el efecto "fade" que hace que todo tenga un tinte de nostalgia.
        </p>
    </div>
  </div>
