<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-left">
            <h1 >Hola! Soy Anita,</h1>
            <p>Fotógrafa, directora creativa y mamá del pequeño Silvestre.<br>
              En este espacio voy a ir compartiendo con ustedes las últimas novedades.<br>
              Además pueden encontrar todos mis presets para dejar sus fotos iguales a las mias.<br>
              Si están buscando un poco de inspiración, les dejo algunos de mis últimos trabajos en mi portfolio.  
              Nos vemos en las redes!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="product-category section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="category-box">
					  <a [routerLink]="['/preset']">
              <img src="assets/images/portadas/presets.jpg" alt="" />
              <div class="content">
                <h3>PRESETS</h3>
              </div>
            </a>	
          </div>
          <div class="category-box">
					  <a [routerLink]="['/news']">
              <img src="assets/images/portadas/novedades.jpg" alt="" />
              <div class="content">
                <h3>NOVEDADES</h3>
              </div>
            </a>	
          </div>
        </div>
        <div class="col-md-6">
          <div class="category-box category-box-2">
            <div>
              <a [routerLink]="['/portfolio']">
                <div class="portfolioImg"></div>
                <div class="content">
                  <h3>PORTFOLIO</h3>
                </div>
              </a>	
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <section class="section instagram-feed">
      <div class="container">
          <div class="row">
            <div class="title">
                <h2>@AnitaThomas</h2>
            </div>
            <div class="col-md-3 col-sm-3" *ngFor="let ir of instaResponse | slice:0:4; let i=index">
              <div class="product-item">
                <div class="product-thumb">
                  <img class="img-responsive" src="{{ir.media_url}}" alt="{{ir.media_type}}" />
                  <div class="preview-meta">
                    <ul>
                      <a href="{{ir.permalink}}">
                      <li>
                          {{ir.caption.slice(0,200)}}...
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
