<div class="row">
  
    <div class="col-md-6">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/original/esoa.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/original/esod.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Es Otoño</h1>
        <h3>Cálido, con tonos terrosos y vintage. </h3>
        <p>
          Los colores de este efecto le dan esa sensación de aventura de invierno tipo roadtrip a tus fotos. ¡Muy de película!
        </p>
    </div>
  </div>
  
  