<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/movie/da.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/movie/dd.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Desert</h1>
        <h3>Uno de mis preferidos. </h3>
        <p>
          Tiene mucha personalidad, colores cálidos, pieles bronceadas y una onda muy technicolor. 
        </p>
    </div>
  </div>
