<section class="movie-pack">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1>MOVIE PACK</h1>
          <button class="btn btn-main text-center" (click)="AddToCart(3)">
            {{'comprar' | uppercase}}
          </button> 
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
          <app-acantilado></app-acantilado>
          <hr>
        </div>
        <div class="col-md-6 col-xs-12">
          <app-desert></app-desert>
          <hr>
        </div>
        <div class="col-md-6 col-xs-12">
          <app-hollywood></app-hollywood>
          <hr>
        </div>
    
        <div class="col-md-6 col-xs-12">
          <app-margaritas></app-margaritas>
          <hr>
        </div>
    
        <div class="col-md-6 col-xs-12">
          <app-nubes></app-nubes>
          <hr>
        </div>
    
        <div class="col-md-6 col-xs-12">
          <app-ruta></app-ruta>
          <hr>
        </div>
    
        <div class="col-md-6 col-xs-12">
          <app-verdeagua></app-verdeagua>
          <hr>
        </div>
    </div>

    <p>
      Si te gustaron estos presets y querés descargártelos a tu celular, podes
      hacer click en el botón de comprar y elegir la opción DESDE ARGENTINA
      (Mercado Pago) o DESDE EL EXTERIOR (PayPal) si estas en cualquier otra
      parte del mundo. Una vez que realices la compra te va a llegar un mail
      dentro de las siguientes 24 hs con tu pack y un instructivo! Si tenes
      alguna duda podes hacer click en el botón de Consultas. ¡ Espero que
      disfrutes tus presets !
    </p>
  </div>
</section>
