h1{
    margin-top: 25px;
}
.btn:active{
    background-color: rgb(26, 26, 26);
}
.btn{
    margin-bottom: 15px;
}
.navigation{
    .container{
        #navbar{
            display:flex;
            justify-content: space-around;
            margin: 0 75px 0 75px;
            ul{
                padding: 0 15px;
                li{
                    font-weight: 700;
                    a:hover{
                        background-color: black;
                        color: white
                    }
                }
            }
        }
    }
}
p{
    margin-top: 1rem;
    text-align: center;
    font-size: small;
    padding: 0 2rem;
}

@media (max-width: 768px){
    .navigation{
        .container{
            #navbar{
                display:inline-block;
                ul{
                    li{
                        font-weight: 700;
                        a:hover{
                            background-color: rgb(150, 122, 122);
                            color: white
                        }
                    }
                }
            }
        }
    }
    p{
        font-size: smaller;
    }
}
@media (max-width: 480px){
    .navigation{
        .container{
            #navbar{
                display:inline-block;
                margin: 0;
            }
        }
    }
}
