
<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>MIS PRESETS</h2>
			</div>
		</div>
		<div class="row">		
			<div class="col-md-4" *ngFor="let p of presets">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" [src]="p.image" alt="{{p.name}}" />
						<div class="preview-meta">
							<ul>
								<li><a routerLink="{{p.short_desc}}" title="Ver detalles" alt="Ver detalles"><i class="bi bi-search"></i></a>
								</li>
								<li><a title="Me Gusta" alt="Me Gusta" (click)="AddToLike(p.id)"><i class="bi bi-heart-fill"></i></a>
								</li>
								<li>
									<a title="Agregar al carrito" alt="Agregar al carrito" [class.disabled]="p.quantity < 1"
									(click)="AddToCart(p.id)">
										<i class="bi bi-bag-fill">
										</i>
									</a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a routerLink="{{p.short_desc}}">{{p.name}}</a></h4>
						<p>{{p.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>