.disabled{
    cursor: not-allowed;
}
h1{
    color: gray;
    font-weight: 600;
    font-size: 2.5rem;
}
.preset-tip{
    margin-bottom: .8rem;
}
p{
    margin: 10px 0;
    font-weight: 500;
}
.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    >i{
        font-size: 5rem;
        font-weight: 700;
        color: gray;
    }
    .second{
        margin: 0 1.1rem;
    }
    &-text{
        h3{
            color: gray;
            font-weight: 700;
            font-size: 1.5rem;
        }
        p{
            font-size: smaller;
        }
    }

}

@media (max-width: 480px) {
    .first{
        margin: 0 10px;
    }
}
  
@media (max-width: 768px) {
  
}