<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/original/lava.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/original/lavd.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Lavado</h1>
      <h3>Para dar un efecto suave y pastel.</h3>
      <p>
        Este preset da un efecto un poco retro, cálido y calmo. Empareja fotos que tienen muchas sombras. 
      </p>
  </div>
  
  </div>
  
