<div class="row">

    <div class="col-md-6">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/original/bsa.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/original/bsd.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Bien suave</h1>
        <h3>Efecto cremoso y parejo</h3>
        <p>
          Ilumina bastante, asique si tu foto ya es muy luminosa te recomiendo jugar con la exposición.  Con la ternura que tienen los colores pastel, suaviza y empareja la foto.
        </p>
    </div>
  </div>
  
