<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/movie/ena.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/movie/end.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>En las Nubes</h1>
        <h3>Difuminado y con mucha luz.</h3>
        <p>
            Predominan los colores frios. Levantá esas fotos que tienen muchas sombras.
        </p>
    </div>
  </div>
