<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/nature/aa.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/nature/ad.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Arena</h1>
      <h3>Efecto cálido y bronceado. </h3>
      <p>
        Un preset que levanta cualquier imagen.  Le va a dar ese toque de vida y alegría que quieren tus fotos!
      </p>
  </div>
  </div>

