<section class="products section bg-gray">
		<div class="row">
			<div  class="col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let i of images">
				<div class="col-md-12 img-container" >
					<div class="product-item">
						<div class="product-thumb">
							<img class="img-responsive" [src]="i.img_url" alt="{{i.name}}" />
							<div class="preview-meta">
								<ul>
									<button (click)="delete(i.id)" title="Eliminar imagen"><i class="bi bi-file-earmark-x"></i></button>
								</ul>
							  </div>
						</div>
					</div>
				</div>
			</div>		
		</div>
</section>
