<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/movie/ma.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/movie/md.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Margaritas</h1>
        <h3>Para darle un poco de vida a tus fotos.</h3>
        <p>
            Es prolijo, alegre y un toque retro. 
        </p>
    </div>
  </div>
