<div class="dsc-carousel">
    <ng-container *ngIf="images">
        <div class="dsc-carousel_btns">
            <button (click)="setBackPosition()" ><i class="bi bi-chevron-left" ></i></button>
            <button (click)="setNextPosition()" ><i class="bi bi-chevron-right" ></i></button>
        </div>
    </ng-container>
    <div class="dsc-carousel_content">
        <ng-container *ngFor="let section of images">
            <ng-container *ngIf="section.title !== '' ">
                <div class="dsc-carousel_content-item" [ngStyle]="{ 'margin-left': section.marginLeft + '%'}">
                        <div class="row">
                            <div class="col-sm-6 image">
                                <img [src]="section.image" alt="" />
                                <ng-container *ngIf="section.url !== '' ">
                                    <a href="https://{{section.url}}"><h2>{{section.title}}</h2></a>
                                </ng-container>
                            </div>
                            <div class="col-sm-6 text">
                                <h1>{{section.title}}</h1>
                                <p>{{section.description}}</p>
                            </div>
                        </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
