.dsc-carousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_content{
        text-align: center;
        width: 100%;
        align-self: stretch;
        display: flex;
        overflow: hidden;
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            padding-top: 15px;
            padding-bottom: 25px;
            transition: 1s all ease-in;
            >.row{
                margin: 0;
                padding: 0;
                    >.image{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        >img{
                            width: 100%;
                        }
                    }
                    >.text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
            }
            h1{
                color: rgb(85, 85, 85);
                font-weight: 900;
                text-transform: uppercase;
                z-index: 1;
                span{
                    color: rgb(0, 0, 0)
                }
            }
            a{
                position:absolute;
                >h2{
                    position: relative;
                    color: rgb(255, 255, 255);
                    font-weight: 900;
                    text-transform: uppercase;
                    z-index: 1;
                    margin: 0;
                    span{
                        color: rgb(0, 0, 0)
                    }
                }
            }
            p{
                z-index: 1;
                color: black;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }
    &_btns{
        position: absolute;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        >button{
            border-style: none;
            border-radius: 50%;
            display: flex;
            width: 35px;
            height: 35px;
            background-color: rgb(247 247 247 / 30%);
            z-index: 9999;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            &:hover{
                background-color: rgb(247 247 247 / 55%);
            }
            > i{
                opacity: 0.7;
                color: black;
                font-weight: 800;
                font-size: 15px;
                cursor: pointer;
                justify-content: space-between;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

}