<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/nature/moa.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/nature/mod.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Moody</h1>
      <h3>Para darle un toque de dramatismo a tus fotos. </h3>
      <p>
        ¿ Viste esa estetica con sombras y sin tanto contraste ? El preset Moody es perfecto para eso. Muy trendy!
      </p>
  </div>
  </div>