<div class="row">
    <div class="col-md-6 text-center">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/original/bynantes.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src = "../../assets/images/presets/original/byndesp.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Blanco y Naranja</h1>
        <h3>Resalta tus fotos con mucho contraste.</h3>
        <p>
          Este preset desatura los colores, intensifica los blancos y resalta la piel. Tiene contraste fuerte. ¡Ideal para fotos de vacaciones! 
        </p>
    </div>
  </div>
