<section class="page-wrapper success-msg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
              <i class="bi bi-bag-check-fill"></i>
            <h2 class="text-center">Gracias por tu compra!</h2>
            <p><strong>Por favor revisa haber recibido en tu email</strong> la orden de confirmación</p>
            <p>Numero de Orden : <strong>{{orderId}}</strong></p>
            <div>
              <p>TE PEDIMOS QUE GUARDES EL COMPROBANTE DE COMPRA</p>
              <p>Ante cualquier eventualidad comunicate con <strong><a href="mailto:soporte@anitathomas.com.ar">nuestro soporte</a></strong></p>
            </div>
            <a routerLink="/" class="btn btn-main mt-20">Volver a Inicio</a>
          </div>
        </div>
      </div>
    </div>
  </section>