<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/movie/era.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/movie/erd.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>En ruta</h1>
        <p>
            Es un filtro sutil pero muy útil para darle un toque original a las fotos sin cambiarlas tanto.
        </p>
    </div>
  </div>