<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-left list-inline">
					<li class="dropdown cart-nav dropdown-slide">
							<a routerLink="/cart" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
								<span>Canasta</span>
								<i class="bi bi-basket-fill"></i>
							</a>
						<div class="dropdown-menu cart-dropdown" style="left: 0px;z-index: 10000;">
							<!-- Cart Item -->
							<div class="media">
								<a class="pull-left" href="#!">
									<img class="media-object" src="images/shop/cart/cart-1.jpg" alt="image" />
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
									<div class="cart-price">
										<span>1 x</span>
										<span>0</span>
									</div>
								</div>
								<a href="#!" class="remove"><i class="bi bi-x"></i></a>
							</div><!-- / Cart Item -->
							<div class="cart-summary">
								<span>Total</span>
								<span class="total-price">{{0 | currency: '$'}}</span>
							</div>
							<ul class="text-center cart-buttons">
								<li><a routerLink="/cart" class="btn btn-small">Ver canasta</a></li>
								<li><a routerLink="/checkout" class="btn btn-small btn-solid-border">Comprar</a></li>
							</ul>
						</div>
					</li><!-- / Cart -->
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
			<div class="col-md-8 col-xs-8 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="index.html">
						<img src="../../../assets/images/logo.png" alt="Anita Thomas Logo">
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">
					<!-- Wish List -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
							<i class="bi bi-bookmark-heart-fill"></i>
							<span>Me Gusta</span>
						</a>
						<div class="dropdown-menu cart-dropdown">
							<!-- Wish Item -->
							<div class="media">
								<a class="pull-left" href="#!">
									<img class="media-object" src="images/shop/cart/cart-1.jpg" alt="image" />
								</a>
								<div class="media-body">
									<h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
								</div>
								<a href="#!" class="remove"><i class="bi bi-x"></i></a>
							</div><!-- / Wish Item -->
						</div>
					</li><!-- / Wish List -->
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->