.header-links{
    display:flex
}
span{
    margin-right: 5px;
}
img{
    width: 25%;
}

.container>.row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.container>.row>*{
    flex-shrink: 1;
}

ul>li>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 990px) {
    img{
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    img{
        width: 100%;
    }
    .login{
        display: none;
    }
}
@media screen and (max-width: 350px) {
    img{
        width: 150%;
        left: -10px;
        position: relative;
    }
}