<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-left list-inline">
					<li class="dropdown cart-nav dropdown-slide">
							<a routerLink="/cart" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
								<span>Canasta</span>
								<i class="bi bi-bag-fill"></i>
							</a>
						<div class="dropdown-menu cart-dropdown" style="left: 0px; z-index: 10000;" *ngIf="cartData.data[0].numInCart !== 0">
							<!-- Cart Item -->
							<div class="media cart-list" *ngFor="let c of cartData.data; let i=index">
								<a class="pull-left" href="#!">
									<img class="media-object" [src]="c.product.image" alt="{{c.product.name}}" />
								</a>
								<div class="product-widget">
									<div class="media-body">
										<h4 class="media-heading"><a>{{c.product.name}}</a></h4>
										<div class="cart-price">
											<span>{{c.numInCart}} x</span>
											<span>{{c.product?.price | currency:'USD'}}</span>
										</div>
									</div>
									<a class="remove" (click)="cartSvc.deleteProdFromCart(i)"><i class="bi bi-x"></i></a>
								</div>
							</div><!-- / Cart Item -->
							<div class="cart-summary">
								<span>Total</span>
								<span class="total-price">{{cartTotalUsd | currency: 'USD'}}</span>
							</div>
							<ul class="text-center cart-buttons">
								<li><a routerLink="/cart" class="btn btn-small">Ver canasta</a></li>
							</ul>
						</div>
					</li><!-- / Cart -->
				</ul>
			</div>
			<div class="col-md-8 col-xs-8 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="index.html">
						<img src="../../../assets/images/logo.png" alt="Anita Thomas Logo">
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4">
	
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->