<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/nature/ja.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/nature/jd.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Jungla</h1>
      <h3>Para darle un toque mas "oscuro" a tus fotos. </h3>
      <p>
        Con un poco de fade, este filtro es fiel a los colores de la imagen pero les da un efecto de pelicula. 
      </p>
  </div>
  </div>
