<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/original/atardecerantes.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/original/atardecerdsps.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Atardecer</h1>
      <h3>Para hacer más espectaculares los atardeceres y las nubes. </h3>
      <p>
        Preset con feel vintage. Le da un toque cálido y tenue a las fotos, las oscurece un poco. Si la foto que estas editando tiene muy baja luz o mala calidad, te recomiendo que le bajes un poco la cantidad de "grano".
      </p>
  </div>
  </div>
