<div class="col-md-6 text-center">
    <img-comparison-slider>
      <figure slot="first" class="before">
        <img width="100%" src="../../assets/images/presets/original/bajandoAntes.jpg">
      </figure>
      <figure slot="second" class="after">
        <img width="100%" src="../../assets/images/presets/original/bajandoDespues.jpg">
      </figure>
    </img-comparison-slider>
</div>
<div class="col-md-6 mx-auto">
    <h1>Bajando un Tono</h1>
    <h3>Ideal para bajar un poco esa foto tan saturada. </h3>
    <p>
      Como dice el nombre, baja un tono a los colores que llaman demasiado la atención. Genera un aspecto cinematográfico.
    </p>
</div>
