<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/original/esda.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/original/esdd.jpg">
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Es de Noche</h1>
        <h3>La típica foto analógica de noche.</h3>
        <p>
          Un efecto original, tirando al verde y con textura granulada para que la foto parezca sacada con cámara analógica. Es clave ajustar la luminosidad para que la foto quede perfecta.
        </p>
    </div>
  </div>
  
