<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/nature/ha.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/nature/hd.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Hotel</h1>
      <h3>Estetica impecable.</h3>
      <p>
        Blancos perfectos y un efecto de luminosidad que NO quema ninguna foto! Es genial. 
      </p>
  </div>
  </div>
