<div class="row">
    <div class="col-md-6 mx-auto text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/movie/vaa.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/movie/vad.jpg">
        </figure>
      </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Verde Agua</h1>
        <h3>Un efecto muy moody.</h3>
        <p>
            Suaviza los verdes y los azules para dar un efecto verde agua.
        </p>
    </div>
  </div>
