<div class="row">

    <div class="col-md-6">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/original/yya.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/original/yyd.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Yin y Yang</h1>
        <h3>Un blanco y negro distinto</h3>
        <p>
          Con textura y efecto difuminado, resalta las texturas y genera un efecto retro. 
        </p>
    </div>
  </div>
  