<div class="row">

    <div class="col-md-6">
        <img-comparison-slider>
          <figure slot="first" class="before">
            <img width="100%" src="../../assets/images/presets/original/leva.jpg">
          </figure>
          <figure slot="second" class="after">
            <img width="100%" src="../../assets/images/presets/original/levd.jpg">
          </figure>
        </img-comparison-slider>
    </div>
    <div class="col-md-6 mx-auto">
        <h1>Llego el Verano</h1>
        <h3>Para ponerle onda, color y contraste a tus fotos. </h3>
        <p>
          Colores saturados y bien definidos. Para despegarse de tanto filtro sin verde y azul. Acá se destacan todos los colores. 
        </p>
    </div>
  </div>
