<div class="row">
    <div class="col-md-6 text-center">
      <img-comparison-slider>
        <figure slot="first" class="before">
          <img width="100%" src="../../assets/images/presets/original/efa.jpg">
        </figure>
        <figure slot="second" class="after">
          <img width="100%" src="../../assets/images/presets/original/efd.jpg">
        </figure>
      </img-comparison-slider>
  </div>
  <div class="col-md-6 mx-auto">
      <h1>Efecto feliz</h1>
      <h3>Mi filtro preferido.</h3>
      <p>
        Lejos, el preset que más uso. Le da ese toque feliz, iluminado y actual a las fotos. Es sutil pero levanta cualquier foto.
      </p>
  </div>
  </div>
