<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Administración</h1>
					<ol class="breadcrumb">
						<li><a routerLink="/">Home</a></li>
						<li class="active">AdminProfile</li>
					</ol>
          <button class="btn btn-main text-center" (click)="logOut()">LogOut</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 profile">
        <ul class="list-inline dashboard-menu text-center">
          <li><button class="wrapper-btn" (click)="selectMenu('portfolio')"><a class="btn btn-main text-center" routerLink="/profile/uploadImg">PortFolio</a></button></li>
          <li><button class="wrapper-btn" (click)="selectMenu('novedades')"><a class="btn btn-main text-center" routerLink="/profile/uploadNew">Novedades</a></button></li>
        </ul>
      </div>
    </div>
    <div class="row profile-content">
      <div class="col-md-2 profile-menu" *ngIf="selected == 'portfolio'">
        <ul class="list dashboard-menu text-center" >
          <li style="width: 100%; margin-bottom: 25px"><a class="btn btn-main text-center special-btn" routerLink="/profile/uploadImg">Subir Imagen</a></li>
          <li style="width: 100%; margin-bottom: 25px"><a class="btn btn-main text-center special-btn" routerLink="/profile/editAlbum">Editar Album</a></li>
        </ul>
      </div>
      <div class="col-md-2 profile-menu" *ngIf="selected == 'novedades'">
        <ul class="list-inline dashboard-menu text-center" >
          <li style="width: 100%; margin-bottom: 25px"><a class="btn btn-main text-center special-btn" routerLink="/profile/uploadNew">Subir Novedad</a></li>
          <li style="width: 100%; margin-bottom: 25px"><a class="btn btn-main text-center special-btn" routerLink="/profile/editNew">Editar Novedades</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
